
<h1>Rescue Mission</h1>
<p id="notice"><font color='magenta'><%= notice %></font></p>

<p>
  <%= link_to 'Ask a Question', new_question_path %>
</p><br>
<table>
  <thead>
    <tr>
      <th colspan="3" id='header'>Top Questions</th>
    </tr>
  </thead>

  <tbody>
    <% if !@questions.nil? %>
    <% num = 1 %>
      <% @questions.each do |question| %>
        <tr>
          <td id='<%= num %>'><%= link_to question.title, question %></td>
          <td>Created at: <%= question.created_at %>
        </tr>
        <% num += 1 %>
      <% end %>
    <% end %>
  </tbody>
</table>
