<h1>Rescue Mission</h1>
<p id="notice"><font color='magenta'><%= notice %></font></p>

<table>
  <tbody>
    <h3><%= @question.title %></h3>
      <p><%= @question.description %></p>
      <p>Created At: <%= @question.created_at %></p>
  </tbody>
</table>

<h3>Answers:</h3>
  <% if @answers %>
    <ul>
      <% @answers.each do |a| %>

        <li>
          <% if a.best_answer == true  %>
            <%= "ðŸ‘" %>
          <% end %>
          <%= a.description %>
          <% if a.best_answer == true  %>
            <%= "ðŸ‘" %>
          <% end %>
          <%= link_to 'Best Answer', bestanswer_path(a.id) %>
        </li>
      <% end %>
    <% end %>
</ul>


<h5>Your Answer:</h5>
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_area :description, placeholder: "Description", size: "40x12" %></p>
  <%= f.submit "Submit" %>
<% end %>
<br>
<br>
<%= link_to 'Edit', edit_question_path(@question) %>
<br>
<%= link_to 'Delete', @question, method: :delete, data: { confirm: "Your sure?"} %>
<br>
<%= link_to 'Back to Questions', questions_path %>
